<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sonarx.app</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/oracle/Project-SONAR-X/agent_env/bin/python3</string>
        <string>/Users/oracle/Project-SONAR-X/sonar_menu.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
